@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.Shanto{
  background: url(../public/photos/HomeBg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.AbdulKader{
  background: url(../public/photos/TopBgGredianColor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.backgraoundOfCard{
  background: url(../public/photos/ImageWithFallback.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
